gradle-wrapper.jar
/.gradle
# Gradle's project-level output (mobile/build/ is already ignored, this one was not).
/build/
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
